.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    padding: 20px;
}
body, html {
    margin: 0;
    padding: 0;
  }
  header, nav, main, aside, footer {
    padding: 20px;
  }
  header {
    background-color: lightgrey;
  }
  nav {
    background-color: grey;
    color: white;
    display: flex;
  }
  main {
    float: left;
    width: 70%;
  }
  aside {
     float:right; 
     width: calc(30% -40px);
     background-color:#f2f2f2; 
  }
  footer{
     clear:both; 
     background-color:black; 
     color:white; 
  }